* 
{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Exo', sans-serif;
}
header
{   display: block;
    position: fixed;
    top: 0;
    left: 0;
}
h1, h2
{
    font-family: 'Nunito', sans-serif;
    font-size: 3vw;
}
h1
{
    margin: 20vh 0 0 0;
}
#svgmenu
{
    cursor: pointer;
}
#svg menu:hover
{
    fill:rgb(212, 11, 11);
}
#logo:hover ,#logo:focus
{
    fill: rgb(212, 11, 11);
}
p
{
    font-family: 'Exo', sans-serif;
    font-size: 2vw;
}
.fitcontent
{
    width: 60%;
    margin: 0 auto;
    padding: 0;
}
.pad
{
    padding: 5vh 10%;
}
.w-100 
{
 width: 100%;
 padding: 0;
 margin: 2vh auto;  
}

header a:focus,body a:hover , body a:focus, a:hover
{
    color: rgb(212, 11, 11);
    transition: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-duration: 1s;
    cursor: pointer;
}
body
{
    width: 100%;
    margin: 0em;
    padding: 0em;
    background-color: #bfd7ea;
}
header span a 
{
    height: min-content;
    align-self: center;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    font-size: 2.5vw;
    display: none;
    margin: 0 1em;
}
.menumobile
{
    display: none;
}
.overlay 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-nav 
{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: teal;
}
  
.overlay a 
{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    list-style-type: none;
}
  
.overlay a:hover,.overlay a:focus 
{
    color: #ffffff;
}
  
.overlay .closebtn 
{
    position: relative;
    top: 45px;
    left: 80%;
    font-size: 60px;
    z-index: 51;
}

.flex
{
    display: flex;
}
.justify
{
    justify-content: space-between;
}
.justifyleft
{
    justify-content: left;
}
.justifyright
{
    justify-content: right;
}
.justifyCenter
{
    justify-content: center;
}

header h1
{
    color: black;
    font-size: 4vw;
}
header span
{
    display: contents;
}
header
{
    margin: 0;
    width: 100%;
    padding: 0;
    background-color: #bfd7ea;
    opacity: 1;
}
header ul
{
    list-style-type: none
}
main
{
    width: 80%;
    padding: 5px;
    margin: 2rem auto;
}
h2
{
    text-align: center;
}
div.flex h2
{
    font-size: 3vw;
    margin: 0;
}
div.left h2
{
    text-align: left;
}
div svg
{
    width: 5vw;
    margin: 0 2vw 0 2vw;
}
div.right h2
{
    text-align: right;
}
.line{
    border-bottom: 1px solid black;
    padding: 20px 0;
}
.st0
{
    fill:#000000;
}
.wcontent
{
    width: max-content;
    margin: 1rem auto;
}
header a 
{
    color: black;
}
 body a 
{
     text-decoration: none;
     color: black;
}
body img 
{
    width: 15vw;
    margin: 8vh;
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 0, 0); }
    100% {
        opacity: 1;
        -webkit-transform: none; } }
@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translate3d(-50%, 0, 0); }
    100% {
      opacity: 1;
      -moz-transform: none; } }
@-o-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -o-transform: translate3d(-50%, 0, 0); }
    100% {
        opacity: 1;
        -o-transform: none; } }
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-50%, 0, 0); }
    100% {
        opacity: 1;
        transform: none; } }
  
.fadeInLeft {
    -webkit-animation: fadeInLeft 2s ease-in;
    -moz-animation: fadeInLeft 2s ease-in;
    -o-animation: fadeInLeft 2s ease-in;
    animation: fadeInLeft 2s ease-in; }
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(50%, 0, 0); }
    100% {
        opacity: 1;
        -webkit-transform: none; } }
@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translate3d(50%, 0, 0); }
    100% {
        opacity: 1;
        -moz-transform: none; } }
@-o-keyframes fadeInRight {
    0% 
    {
        opacity: 0;
        -o-transform: translate3d(50%, 0, 0); 
    }
    100% 
    {
        opacity: 1;
        -o-transform: none; 
    } 
}

@keyframes fadeInRight 
{
    0% {
        opacity: 0;
        transform: translate3d(50%, 0, 0); }
    100% 
        {
        opacity: 1;
        transform: none;
        } 
    }
      
.fadeInRight 
{
    -webkit-animation: fadeInRight 2s ease-in;
    -moz-animation: fadeInRight 2s ease-in;
    -o-animation: fadeInRight 2s ease-in;
    animation: fadeInRight 2s ease-in;
}

@media all and (max-width:62rem)
{   .fitcontent
            {
                width: 100%;
                padding: 1em;
            }
    main
            {
                width: 100%;
                margin: 0;
                padding: 1em;
            }
    .justifyleft, .justifyright
    {
        justify-content: center;
    }
    body img 
    {
        width: 30vw;
    }
        
}
@media all and (min-width: 62rem)
{  
    #disablemenu
    {
        display: none !important;
    }
    header span a
    {
        display: inline;
    }
}
    
    
@media screen and (max-height: 450px)
{
    .overlay a 
    {
        font-size: 20px
    }
    .overlay .closebtn 
    {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    .overlay a:hover,.overlay a:active
    {
        color: white;
    }
}
footer
{
    width: 100%;
    display: flex;
    justify-content: center;
}
form
{
    width: 80%;
    display: inline-grid;
    justify-content: center;
}
input
{
    display: block;
    border-radius: 0 0 1em 1em;
    border: none;
    text-align: center;
}
footer svg 
{
    width: 1em;
    display: block;
    margin: 0 0 0 2vw;
}
label
{
    text-align: left;
    display: block;
    margin: 2vh auto 1vh;
}
textarea
{
    margin: 3vh 0;
    height: 15vh;
    border-radius: 0 0 1em 1em;
    border: none;
    text-align: left;
    resize: none;
    overflow-x: auto;
}
button
{
    display: flex;
    margin: 3vh 0;
    justify-content: center;
    border-radius: 0 0 1em 1em;
    border: none;
}
input:hover,input:focus , button:hover,button:focus , textarea:hover,textarea:focus{
    background-color: rgb(212, 11, 11);
    cursor: pointer;

}
.context
{
    color: white;
    font-size: 1.5em;
    width: 70%;
    margin: 1em;
}
.meme
{
    margin: 25%;
}


