section
{
    z-index: 3;
    background-color:#808F85;

    padding: 3rem;
}

.parallax
{
    background: url("../../assets/image/IMG-20190820-WA0016.jpg") no-repeat center;
    background-size: 1000px;
    background-attachment: fixed;
    z-index: 1;
    width: 200px;
    height: 200px;
}
.davy 
{
    background: url("../../assets/image/headerbg.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}
