        <!-- Portfolio Section-->
        <section class="page-section portfolio bg-color" id="portfolio">
            <div class="container-fluid p-3">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-black-50">Portfolio</h2>
                <!-- Portfolio Grid Items-->
                <div class="row">
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 mb-5 mb-md-3">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-black"><i class="fas fa-plus"></i></div>
                            </div>
                            <img class="logo" src="../../assets/image/FOLD.svg" alt="paper plane logo" />
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 mb-3 d-flex align-items-center justify-content-center">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-black"><i class="fas fa-plus"></i></div>
                            </div>
                            <img class="logo" src="../../assets/image/aidazot.svg" alt="bird logo"  />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center text-white-50 bg">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary mb-5" id="portfolioModal1Label">Fold</h2>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-3" src="../../assets/image/Fold.png" alt="wireframe of aircost compagnies" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="my-2">I have been realising wireframe and developpement of a class project about a airline compagnies.</p>
                                    <p class="mb-3">Using photoshop and illustrator, the goal of the asignement was to think of a mobile first interface easly made with the bootstrap components</p>
                                    <button class="btn btn-dark" data-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- Portfolio Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                        <div class="modal-body text-center text-white-50 bg">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title-->
                                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-5" id="portfolioModal2Label">Aidazot</h2>
                                        <!-- Portfolio Modal - Image-->
                                        <img class="img-fluid rounded mb-5" src="../../assets/image/pitch.PNG" alt="pitch of a anti-waste website" />
                                        <!-- Portfolio Modal - Text-->
                                        <p class="my-2">Aidazot was a team project about a platform to avoid waste in supermarkets.</p>
                                        <p class="mb-3">We have been working on buiseness plan,design and developpement using the SCRUM method.</p>
                                        <button class="btn btn-dark" data-dismiss="modal">
                                                <i class="fas fa-times fa-fw"></i>
                                                Close Window
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>